a {
	color: #333;
}

a:focus,
a:hover {
	color: #666;
}

.hero h1 {
	margin: 1em 0;
	color: #555;
}

.hero a.use-btn, 
.hero a.learn-btn {
	margin-top: 15em;
}

ul.programme > li {
	margin-bottom: 1em;
}

.download {
	background-color: #B2AE96;
}

.features-slider {
	background-color: #B2AE96;
}